<mat-card-subtitle>
  Grup: {{ itemTitle1 }}
</mat-card-subtitle>
<mat-card-content>
  <div>
    <span>Aviz pentru: <strong>{{ itemTitle2 }}</strong> : </span>
    <mat-radio-group class="example-radio-group" [(ngModel)]="areAvizare" [disabled]="isDisabled" (change)="onRaspunsChange()">
      <mat-radio-button class="example-radio-button" *ngFor="let raspunsHTML of optiuni" [value]="raspunsHTML" [checked]="raspunsHTML === raspuns">{{ raspunsHTML }}</mat-radio-button>
    </mat-radio-group>
  </div>
  <form [formGroup]="asigurareForm">
    <section *ngIf="areAvizare === 'Da'">
      <mat-form-field class="column">
        <input type="text" placeholder="Nume Asigurator" matInput formControlName="id_asigurator" [matAutocomplete]="asiguratorAuto"
          (click)="asigurareForm.get('id_asigurator').setValue('')">
      </mat-form-field>

      <mat-form-field class="column">
        <input type="text" placeholder="Serie" matInput formControlName="polita_serie">
      </mat-form-field>
      <mat-form-field class="column">
        <input type="text" placeholder="Numar" matInput formControlName="polita_nr">
      </mat-form-field>
      <mat-form-field class="column">
        <input type="text" placeholder="Data start" matInput formControlName="data_start" (blur)="addAsigDateEnd()">
      </mat-form-field>
      <mat-form-field class="column">
        <input type="text" placeholder="Data Stop" matInput formControlName="data_end">
      </mat-form-field>
    </section>
  </form>

  <mat-autocomplete #asiguratorAuto="matAutocomplete" [displayWith]="displayFnAsigurator.bind(this)">
    <mat-option *ngFor="let asigurator of filteredAsiguratori | async" [value]="asigurator.id">
      {{ asigurator.nume }}
    </mat-option>
  </mat-autocomplete>
</mat-card-content>
<mat-card-actions *ngIf="avizareStatus === 0" style="text-align: center; margin-bottom: 0px;">
  <div>
    <!-- <button type="button" mat-raised-button (click)="onClickAsigurare()" color="primary" [disabled]="!asigurareForm.dirty || !asigurareForm.valid"> -->
    <button *ngIf="asigurareStatus === 0" type="submit" mat-raised-button (click)="onClickAsigurare()" color="warn">
      Adauga
    </button>
    <button *ngIf="asigurareStatus !== 0" type="submit" mat-raised-button (click)="onClickAsigurare()" color="primary">
      Modifica
    </button>
  </div>
</mat-card-actions>
