section {
  /* max-width: 1024px; */
  margin: 0 auto;
  display: flex;
}

.column {
  margin: 5px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
/* tip adresa */
section:nth-of-type(1) .column:nth-child(1) {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 15px;
}

section:nth-of-type(1) .column:nth-child(2) {
  flex-grow: 3;
  flex-shrink: 3;
  flex-basis: 15px;
}

/* tara */

/* strada */
section:nth-of-type(3) .column:nth-child(1) {
  flex-grow: 3;
  flex-shrink: 3;
  flex-basis: 15px;
}

section:nth-of-type(3) .column:nth-child(3) {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 15px;
}

section:nth-of-type(3) .column:nth-child(7) {
  flex-grow: 3;
  flex-shrink: 3;
  flex-basis: 15px;
}

/* email */
section:nth-of-type(4) .column:nth-child(3) {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 15px;
}

/* comentarii */
