<app-header></app-header>
<div class="content">
    <md-progress-bar *ngIf="loading" mode="indeterminate"></md-progress-bar>
    <md-card>
      <md-card-title class="form-title">
        <span>Date Contact</span>
      </md-card-title>
      <md-card-content>
        <app-email *ngIf="!loading" [contactData]="contactData" [contactForm]="contactForm"></app-email>
      </md-card-content>
    </md-card>

    <!-- <app-adrese-list *ngIf="!loading" [adreseData]="adreseData" [contactForm]="contactForm"></app-adrese-list> -->
</div>
