<app-header></app-header>
<div class="content">
    <mat-progress-bar *ngIf="loadingContact && loadingAdrese" mode="indeterminate"></mat-progress-bar>
    <mat-card>
      <mat-card-title class="form-title">
        <span>Date Contact</span>
      </mat-card-title>
      <mat-card-content>
        <app-email *ngIf="!loadingContact" [contactData]="contactData"></app-email>
      </mat-card-content>
    </mat-card>
    <app-adrese-list *ngIf="!loadingAdrese" [adreseData]="adreseData"></app-adrese-list>
</div>
