<md-progress-bar *ngIf="loading" mode="indeterminate"></md-progress-bar>
<form [formGroup]="titluForm">

  <md-expansion-panel [expanded]="itemStatus === 'Nou' || itemStatus === 'Activ'">
    <mat-expansion-panel-header>
      <mat-panel-title> <span [ngClass]="{'inactive': itemStatus === 'Inactiv'}">{{ itemTitlu }}</span></mat-panel-title>
      <mat-panel-description>{{ itemSubtitlu }}</mat-panel-description>
    </mat-expansion-panel-header>
    <section>


      <md-form-field class="column" [hidden]="!univ">
        <input mdInput placeholder="Tip" type="text" formControlName="reg_titlu_id" [mdAutocomplete]="tipAuto" (click)="titluForm.get('reg_titlu_id').setValue('')" (blur)="checkTipTitlu()" >
      </md-form-field>

      <md-form-field class="column" *ngIf="!univ">
        <input mdInput placeholder="Facultate" type="text" formControlName="reg_facultate_id" [mdAutocomplete]="facAuto" (click)="titluForm.get('reg_facultate_id').setValue('')">
      </md-form-field>

      <div class="column" *ngIf="univ"></div>

      <div class="column"></div>

      <md-form-field class="column">
        <input mdInput placeholder="Start date" type="text" formControlName="data_start">
      </md-form-field>

      <md-form-field class="column">
        <input mdInput placeholder="End date" type="text" formControlName="data_end">
      </md-form-field>
    </section>

    <md-autocomplete #tipAuto="mdAutocomplete" [displayWith]="displayFnTitlu.bind(this)">
      <md-option *ngFor="let titlu of filteredTitluri | async" [value]="titlu.id">
        {{titlu.nume}}
      </md-option>
    </md-autocomplete>

    <md-autocomplete #facAuto="mdAutocomplete" [displayWith]="displayFnFacultate.bind(this)">
      <md-option *ngFor="let fac of filteredFacultati | async" [value]="fac.id">
        {{fac.nume}}
      </md-option>
    </md-autocomplete>

    <md-action-row *ngIf="itemStatus !== 'Inactiv'">
        <button type="submit" md-raised-button (click)="onSubmit()" color="primary" [disabled]="!titluForm.dirty">
          {{ itemStatus === 'Nou' ? 'Adauga' : 'Inactiveaza' }}
        </button>
      </md-action-row>

  </md-expansion-panel>
</form>
