<mat-toolbar color="primary" class="mat-elevation-z7">
  <span class="cmj" [routerLink]="['/']" style="cursor: pointer;">C.M.{{userJudet}}</span>
  <span *ngIf="!hideMemNume" class="membru" [matMenuTriggerFor]="memMenu" style="cursor: pointer;">{{currentMemNume}}<mat-icon class="icon-align">keyboard_arrow_down</mat-icon></span>

      <mat-menu #memMenu="matMenu">
          <button mat-menu-item (click)="onClickMem('datepersonale')">Date personale</button>
          <button mat-menu-item (click)="onClickMem('cpp')">Pregătire postuniv</button>
          <!-- <button mat-menu-item (click)="onClickMem('titluri-profesionale')">Titluri Profesionale</button> -->
          <button mat-menu-item (click)="onClickMem('contact')">Date contact</button>
          <hr>
          <button mat-menu-item (click)="onClickMem('certificate')">Certificate</button>
          <hr>
          <button mat-menu-item (click)="onClickMem('avizari')">Avizări</button>
      </mat-menu>

  <span class="titluPagina">{{currentPage}}</span>
  <span class="fill-remaining-space"></span>

  <span class="operator">
    <span [matMenuTriggerFor]="headerMenu" style="cursor: pointer;">Op: {{userName}}<mat-icon class="icon-align">keyboard_arrow_down</mat-icon></span>

    <mat-menu #headerMenu="matMenu">
      <button mat-menu-item [routerLink]="['/login']">Terminare sesiune</button>
      <button mat-menu-item>Schimbă parola</button>
      <hr>
      <button mat-menu-item>Ajutor</button>
    </mat-menu>
  </span>
</mat-toolbar>
