
<mat-card class="mat-elevation-z7">
  <mat-card-content>
  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">

    <mat-input-container class="full-width">
      <input matInput formControlName="email" type="text" placeholder="Email" required>
    </mat-input-container>

    <mat-input-container class="full-width" required>
      <input matInput formControlName="password" type="password" placeholder="Password">
    </mat-input-container>

    <button mat-raised-button [disabled]="!loginForm.valid" color="primary" >Autentificare</button>

  </form>
  </mat-card-content>
  <mat-card-footer>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
