<div class="content">
  <md-card>
    <md-card-title>
      <span class="full-width">Test pt flex</span>
    </md-card-title>
    <md-card-content>
        <section>
            <div class="column">Tip</div>
            <div class="column">Denumire</div>
            <div class="column">Grad</div>
            <div class="column">Start</div>
            <div class="column">End</div>
          </section>

          <section>
            <div class="column">Emitent</div>
            <div class="column">Serie</div>
            <div class="column">Numar</div>
            <div class="column">Data</div>
            <div class="column">Alte date</div>
          </section>
    </md-card-content>
  </md-card>
</div>



<section>
  <div class="column">One Half</div>
  <div class="column">One Half</div>
</section>

<section>
  <div class="column">One Fourth</div>
  <div class="column">One Fourth</div>
  <div class="column">One Fourth</div>
  <div class="column">One Fourth</div>
</section>

<section>
  <div class="column">One Sixth</div>
  <div class="column">One Sixth</div>
  <div class="column">One Sixth</div>
  <div class="column">One Sixth</div>
  <div class="column">One Sixth</div>
  <div class="column">One Sixth</div>
</section>

<section>
  <div class="column">One Half</div>
  <div class="column">One Fourth</div>
  <div class="column">One Fourth</div>
</section>

<section>
  <div class="column">One Sixth</div>
  <div class="column">Two Thirds</div>
  <div class="column">One Sixth</div>
</section>
