<div class="content">
  <mat-card>
    <mat-card-title>
      <span class="full-width">Date Pesonale</span>
    </mat-card-title>
    <mat-card-content>
      <section>
        <div class="column">Tara</div>
        <div class="column"></div>
        <div class="column">Cnp</div>
        <div class="column"></div>
      </section>
      <hr>
      <section>
        <div class="column">Nume</div>
        <div class="column">Initiala</div>
        <div class="column"></div>
        <div class="column">Prenume</div>
        <div class="column"></div>
        <div class="column">Nume Anterior</div>
      </section>
      <hr>
      <section>
        <div class="column">Act Tip</div>
        <div class="column">Serie</div>
        <div class="column"></div>
        <div class="column">Numar</div>
        <div class="column"></div>
        <div class="column">Data exp</div>
      </section>
      <hr>
      <section>
        <div class="column">Facultate Absolvita</div>
        <div class="column">Promotie</div>
        <div class="column"></div>
        <div class="column">Cod Parafa</div>
      </section>
      <hr>
      <section>
        <div class="column">Act Tip</div>
        <div class="column">Serie</div>
        <div class="column"></div>
        <div class="column">Numar</div>
        <div class="column"></div>
        <div class="column">Data exp</div>
      </section>
      <hr>
      <section>
        <div class="column">Data Jur</div>
        <div class="column"></div>
      </section>
    </mat-card-content>
  </mat-card>

  <!-- <mat-card>
      <mat-card-title>
        <span class="full-width">Test pt flex</span>
      </mat-card-title>
      <mat-card-content>
          <section>
              <div class="column">Tip</div>
              <div class="column">Denumire</div>
              <div class="column">Grad</div>
              <div class="column">Start</div>
              <div class="column">End</div>
            </section>

            <section>
              <div class="column">Emitent</div>
              <div class="column">Serie</div>
              <div class="column">Numar</div>
              <div class="column">Data</div>
              <div class="column">Alte date</div>
            </section>
      </mat-card-content>
    </mat-card> -->
</div>
