<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<form [formGroup]="cppForm">
  <mat-expansion-panel [expanded]="formStatus === 'new'">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span [ngClass]="{'inactive': !formStatusActive}">{{ formTitle.nume }}</span>
      </mat-panel-title>
      <mat-panel-description>
        {{ formTitle.tip }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="form-item-content">
      <section>

        <mat-form-field class="column"><input type="text" placeholder="Tip Pregatire" matInput formControlName="reg_cpp_tip_id" [matAutocomplete]="tipAuto"
            (click)="cppForm.get('reg_cpp_tip_id').setValue('')" (blur)="checkRegTipId()"></mat-form-field>
        <mat-form-field class="column">
          <input type="text" placeholder="Denumire" matInput formControlName="reg_cpp_id" [matAutocomplete]="denAuto" (click)="cppForm.get('reg_cpp_id').setValue('')">
        </mat-form-field>

        <mat-form-field class="column"><input type="text" placeholder="Grad" matInput formControlName="grad_prof_cpp_id" [matAutocomplete]="gradAuto" (click)="cppForm.get('grad_prof_cpp_id').setValue('')"></mat-form-field>

        <mat-form-field class="column">
          <input matInput placeholder="Start date" type="text" formControlName="date_start">
        </mat-form-field>

        <mat-form-field class="column">
          <input matInput placeholder="End date" type="text" formControlName="date_end">
        </mat-form-field>

      </section>

      <mat-autocomplete #tipAuto="matAutocomplete" [displayWith]="displayCppTip.bind(this)">
        <mat-option *ngFor="let tip of filtruCppTip | async" [value]="tip.id">
          {{ tip.nume }}
        </mat-option>
      </mat-autocomplete>

      <mat-autocomplete #denAuto="matAutocomplete" [displayWith]="displayCpp.bind(this)">
        <mat-option *ngFor="let cpp of filtruCpp | async" [value]="cpp.id">
          {{ cpp.nume }}
        </mat-option>
      </mat-autocomplete>

      <mat-autocomplete #gradAuto="matAutocomplete" [displayWith]="displayCppGrad.bind(this)">
        <mat-option *ngFor="let grad of filtruCppGrad | async" [value]="grad.id">
          {{ grad.nume }}
        </mat-option>
      </mat-autocomplete>

      <section>
        <mat-form-field class="column"><input type="text" placeholder="Emitent" matInput formControlName="emitent" [matAutocomplete]="emitentAuto" (click)="cppForm.get('emitent').setValue('')"></mat-form-field>
        <mat-form-field class="column">
          <input matInput placeholder="Serie" type="text" formControlName="act_serie">
        </mat-form-field>
        <mat-form-field class="column">
          <input matInput placeholder="Numar" type="text" formControlName="act_numar">
        </mat-form-field>
        <mat-form-field class="column">
          <input matInput placeholder="Data" type="text" formControlName="act_data">
        </mat-form-field>
        <mat-form-field class="column">
          <textarea matInput placeholder="Date pentru alt tip de document" type="text" formControlName="act_descriere"></textarea>
        </mat-form-field>
      </section>

      <mat-autocomplete #emitentAuto="matAutocomplete" [displayWith]="displayCppEmitent.bind(this)">
        <mat-option *ngFor="let item of filtruCppEmitent | async" [value]="item.id">
          {{ item.nume }}
        </mat-option>
      </mat-autocomplete>
    </div>
    <mat-action-row *ngIf="formStatus !== 'ro'">
      <button type="submit" mat-raised-button (click)="onSubmit()" color="primary" [disabled]="!cppForm.dirty">
        {{ formStatus === 'new' ? 'Adauga' : 'Modifica' }}
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</form>
