<div [hidden]="!submitResult" style="text-align: center;">
  <h2 class="mat-h2">{{submitResult}}</h2></div>
<form [formGroup]="loginForm">
  <div class="row">
    <mat-input-container class="full_width"><input type="email" required matInput formControlName="email" placeholder="email"></mat-input-container>
  </div>
  <div class="row">
    <mat-input-container class="full_width"><input type="password" required matInput formControlName="password" placeholder="parola"></mat-input-container>
  </div>
  <div class="row" style="text-align: center;">
    <button type="submit" mat-raised-button color="primary" (click)="onClick()" [disabled]="loginForm.invalid" >Autentificare</button>
  </div>
</form>
