<br>
<div *ngIf="!loading">
  <mat-card class="column mat-elevation-z8">
    <mat-card-content>
      <p>Certificat tip: <span class="date-cert">{{formData.tip_cert}}</span> numarul: <span class="date-cert">{{certificatId}}</span> din data: <span class="date-cert">{{formData.data_cert}}</span></p>
    </mat-card-content>
  </mat-card>
  <br>
  <section>
    <mat-card class="column mat-elevation-z8">
      <mat-card-content>
        <p class="form-title item-title">Date Personale</p>
        <p>Titular: <span class="date-cert">{{formData.nume}}</span></p>
        <p>Cnp: <span class="date-cert">{{formData.cnp}}</span></p>
        <p>CUIM: <span class="date-cert">{{formData.cuim}}</span></p>
      </mat-card-content>
    </mat-card>
    <mat-card class="column mat-elevation-z8">
      <mat-card-content>
        <p class="form-title item-title">Facultate</p>
        <p>Facultate: <span class="date-cert">{{formData.facultate}}</span></p>
        <p>Promotie: <span class="date-cert">{{formData.promotie}}</span></p>
        <p>Date diploma licenta: <span class="date-cert">{{formData.dipl_serie}} / {{formData.dipl_nr}}</span></p>
      </mat-card-content>
    </mat-card>
  </section>
  <br>
  <section>
    <mat-card class="column mat-elevation-z8">
      <mat-card-content>
        <p class="form-title item-title">Specialitati medicale</p>
        <p *ngFor="let item of formData.specialitati" class="date-cert">{{item.specialitate}} - {{item.gr_prof}}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="column mat-elevation-z8">
      <mat-card-content>
        <p class="form-title item-title">Pregatire profesionala</p>
        <p *ngFor="let item of formData.superspecialitate" class="date-cert">{{item.specialitate}}</p>
      </mat-card-content>
    </mat-card>
  </section>
  <br>
  <mat-card class="mat-elevation-z8">
    <mat-card-content>
      <div class="row">
        <mat-radio-group>
          <mat-checkbox (click)="printActive = !printActive">Confirm ca datele sunt corecte</mat-checkbox>
        </mat-radio-group>
      </div>

      <div class="row" style="text-align: center;" *ngIf="printActive === true">
        <br>
        <button type="button" mat-raised-button (click)="print(1)" color="primary">Printeză</button>
        <button type="button" mat-raised-button (click)="print(2)" color="primary">Avizare</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
