<div class="content">
  <mat-card>
    <mat-card-title>
      <span class="full-width">Test</span>
    </mat-card-title>
    <mat-card-content>
      <mat-input-container>
         <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" (click)="resetValue(myControl)">
      </mat-input-container>

      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
         <mat-option *ngFor="let option of filteredOptions | async" [value]="option.id">
            {{ option.nume }}
         </mat-option>
      </mat-autocomplete>
      <button mat-button (click)="show()">Show value</button>
      <div class="row">
        <button mat-button (click)="patch(myControl)">Patch value</button>
      </div>
      <div class="row">
        <!-- <p>{{ result | json}}</p> -->
      </div>
    </mat-card-content>
  </mat-card>
</div>
