<div *ngIf="addActive">
  <mat-card style="text-align: center;">
    <mat-card-content>
      <button type="button" *ngIf="!loading" mat-raised-button (click)="addCpp()" color="primary">Adauga Cpp</button>
    </mat-card-content>
  </mat-card>
</div>
<div [formGroup]="formCpps">
  <div formArrayName="cpps">
    <div *ngFor="let cppData of cppFormData">
      <app-cpp-item
      [cppsForm]="formCpps"
      [cppFormData]="cppData"
      [registruCpp]="registruCpp"
      [registruCppTip]="registruCppTip"
      [registruCppGrad]="registruCppGrad"
      [registruCppEmitent]="registruCppEmitent"
      ></app-cpp-item>
    </div>
  </div>
</div>
