<form [formGroup]="contactForm">
  <section>
    <mat-form-field class="column">
      <input type="text" placeholder="email" matInput formControlName="email">
    </mat-form-field>
    <div class="column"></div>
    <mat-form-field class="column">
      <input type="text" placeholder="telefon" matInput formControlName="telefon">
    </mat-form-field>
    <div class="column"></div>
    <div class="column" style="text-align: center;">
      <button type="submit" mat-raised-button (click)="onSubmit()" color="primary" [disabled]="!contactForm.dirty">
      {{ formStatus === 'new' ? 'Adauga' : 'Modifica'}} </button>
    </div>
  </section>
</form>
