<div class="row">
  <md-card>
    <md-card-title class="form-title"><span>Adrese</span></md-card-title>
    <md-card-content style="text-align: center;">
      <div *ngIf="addActive">
            <button type="button" *ngIf="!loading" md-raised-button (click)="addAdresa()" color="primary">
            Adauga Adresa
            </button>
      </div>
    </md-card-content>
  </md-card>
</div>


<div [formGroup]="formAdrese">
  <div formArrayName="adrese">
    <div *ngFor="let formAdresaData of formAdreseData">
      <app-adresa [formAdresaData]="formAdresaData" [registruTara]="registruTara" [registruJudet]="registruJudet"></app-adresa>
    </div>
  </div>
</div>
