<app-header></app-header>

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<mat-card class="content">
  <mat-card-title class="form-title">
    <span class="full-width">Date Personale</span>
  </mat-card-title>
</mat-card>

<div class="content" *ngIf="!loading">
  <form [formGroup]="formDatePersonale">
    <mat-card *ngIf="formStatus === 0">
      <mat-card-title class="form-title">
        <span class="full-width">Administrare (form status: {{formStatus}})</span>
      </mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input matInput formControlName="cuim" type="text" placeholder="CUIM">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="jud_id" type="text" placeholder="Judet" [matAutocomplete]="judAuto" (click)="formDatePersonale.get('jud_id').setValue('')">
        </mat-form-field>

        <mat-autocomplete #judAuto="matAutocomplete" [displayWith]="displayFnJudet.bind(this)">
          <mat-option *ngFor="let judet of filtruJudete | async" [value]="judet.id">
            {{ judet.nume }}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field>
          <input matInput formControlName="status" type="text" placeholder="Status">
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="updated" type="text" placeholder="Updated">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="ro" type="text" placeholder="Read Only?">
        </mat-form-field>
        <button type="button" mat-raised-button (click)="log()" color="primary">Log Values</button>
        <button type="button" mat-raised-button (click)="test()" color="primary">Test</button>
      </mat-card-content>
    </mat-card>

    <mat-progress-bar *ngIf="reloading" mode="indeterminate"></mat-progress-bar>
    <mat-card>
      <mat-card-title class="form-title">
        <span class="full-width">Act Identitate</span>
      </mat-card-title>
      <mat-card-content>
        <section>
          <mat-form-field class="column">
            <input matInput formControlName="cetatenie" type="text" placeholder="Cetatenie*" [matAutocomplete]="taraAuto" (click)="formDatePersonale.get('cetatenie').setValue('')">
          </mat-form-field>
          <div class="column"></div>
          <mat-form-field class="column">
            <input matInput formControlName="cnp" type="number" placeholder="CNP" (blur)="checkCNP()">
            <mat-error *ngIf="formDatePersonale.controls['cnp'].hasError('isUsed')">
              CNP-ul exista deja in baza de date
            </mat-error>
          </mat-form-field>
          <div class="column"></div>
        </section>

        <mat-autocomplete #taraAuto="matAutocomplete" [displayWith]="displayFnTara.bind(this)">
          <mat-option *ngFor="let tara of filtruTari | async" [value]="tara.id">
            {{ tara.nume }}
          </mat-option>
        </mat-autocomplete>
        <section>
          <mat-form-field class="column">
            <input matInput formControlName="nume" type="text" placeholder="Nume">
          </mat-form-field>
          <mat-form-field class="column">
            <input matInput formControlName="initiala" type="text" placeholder="Initiala">
          </mat-form-field>
          <div class="column"></div>
          <mat-form-field class="column">
            <input matInput formControlName="prenume" type="text" placeholder="Prenume">
          </mat-form-field>
          <div class="column"></div>
          <mat-form-field class="column">
            <input matInput formControlName="nume_ant" type="text" placeholder="Nume Anterior">
          </mat-form-field>
        </section>

        <section>
          <mat-form-field class="column">
            <input matInput formControlName="act_ident_tip_id" type="text" placeholder="Tip Act Identitate" [matAutocomplete]="actIdentTip"
              (click)="formDatePersonale.get('act_ident_tip_id').setValue('')">
          </mat-form-field>
          <mat-form-field class="column">
            <input matInput formControlName="act_ident_serie" type="text" placeholder="Serie">
          </mat-form-field>
          <div class="column"></div>
          <mat-form-field class="column">
            <input matInput formControlName="act_ident_nr" type="number" placeholder="Numar">
          </mat-form-field>
          <div class="column"></div>
          <mat-form-field class="column">
            <input matInput formControlName="act_ident_exp_date" type="text" placeholder="Data Expirare">
          </mat-form-field>
        </section>

        <mat-autocomplete #actIdentTip="matAutocomplete" [displayWith]="displayFnActIdentTip.bind(this)">
          <mat-option *ngFor="let tip of filtruActIdentTip | async" [value]="tip.id">
            {{ tip.nume }}
          </mat-option>
        </mat-autocomplete>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title class="form-title" [formGroup]="formDatePersonale">
        <span class="full-width">Titlu de calificare</span>
      </mat-card-title>
      <mat-card-content>

        <p class="mat-body-1">Diploma de licență pentru medici români sau care au absolvit facultatea in România
          <br> Diploma de absolvire a facultății pentru medicii care au absolvit facultatea in altă țară, împreuna cu titlul
          de recunoaștere emis de M.S.</p>

        <section>
          <mat-form-field class="column">
            <input matInput formControlName="fac_absolv" type="text" placeholder="Facultate" [matAutocomplete]="facAuto" (click)="formDatePersonale.get('fac_absolv').setValue('')">
          </mat-form-field>
          <mat-form-field class="column">
            <input matInput formControlName="fac_promotie" type="text" placeholder="Promotie">
          </mat-form-field>
          <div class="column"></div>
          <mat-form-field class="column">
            <input matInput formControlName="cod_parafa" type="text" placeholder="Cod Parafa">
          </mat-form-field>
        </section>
        <mat-autocomplete #facAuto="matAutocomplete" [displayWith]="displayFnFac.bind(this)">
          <mat-option *ngFor="let fac of filtruFac | async" [value]="fac.id">
            {{ fac.nume }}
          </mat-option>
        </mat-autocomplete>
        <section>
          <mat-form-field class="column">
            <input matInput formControlName="fac_doc_tip" type="text" placeholder="Tip Act Absolvire" [matAutocomplete]="facDocTip" (click)="formDatePersonale.get('fac_doc_tip').setValue('')"
              (blur)="checkTipActAbs()">
          </mat-form-field>
          <mat-form-field class="column">
            <input matInput formControlName="fac_dipl_serie" type="text" placeholder="Serie">
          </mat-form-field>
          <div class="column"></div>
          <mat-form-field class="column">
            <input matInput formControlName="fac_dipl_nr" type="text" placeholder="Numar">
          </mat-form-field>
          <div class="column"></div>
          <mat-form-field class="column">
            <!-- TODO: de revazut fac_dipl_dat -->
            <input matInput formControlName="fac_dipl_data" type="text" placeholder="Data">
          </mat-form-field>
        </section>

        <mat-autocomplete #facDocTip="matAutocomplete" [displayWith]="displayFnDocFacTip.bind(this)">
          <mat-option *ngFor="let tip of filtruDocFacTip | async" [value]="tip.id">
            {{ tip.nume }}
          </mat-option>
        </mat-autocomplete>

      </mat-card-content>
    </mat-card>


    <mat-card>
      <mat-card-title class="form-title">
        <span class="full-width">Certificat de recunoaștere al calificării de medic</span>
      </mat-card-title>
      <mat-card-content>
        <mat-checkbox (change)="onClickCertRec()" [checked]="showCertRec">Completează</mat-checkbox>
        <div *ngIf="showCertRec">
          <section>
            <mat-form-field class="column">
              <input matInput formControlName="fac_rec_serie" type="text" placeholder="Serie">
            </mat-form-field>
            <mat-form-field class="column">
              <input matInput formControlName="fac_rec_numar" type="text" placeholder="Numar">
            </mat-form-field>
            <div class="column"></div>
            <mat-form-field class="column">
              <input matInput formControlName="fac_rec_data" type="text" placeholder="Data">
            </mat-form-field>
          </section>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title class="form-title">
        <span class="full-width">Data Depunerii Juramantului la Sediul CMJ</span>
      </mat-card-title>
      <mat-card-content>
        <section>
          <mat-form-field class="column">
            <input matInput formControlName="data_juramant" type="text" placeholder="Data  juramant">
          </mat-form-field>
          <div class="column"></div>
        </section>
      </mat-card-content>
    </mat-card>

  </form>



  <mat-card style="text-align: center;">
    <mat-card-content>
      <div class="row">
        <button type="button" mat-raised-button (click)="onSubmit()" color="warn" [disabled]="!formDatePersonale.dirty">{{ formStatus === 2 ? 'Creeaza membru nou' : 'Modifica date membru'}}</button>
        <!-- TODO: nu merge disable / enable ....  -->
      </div>
    </mat-card-content>
  </mat-card>


</div>
