:host {
  width: 100%;
  height: 100vh;
}

md-card:nth-of-type(1) section:nth-of-type(2) .column:nth-child(1) {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 5px;
}

md-card:nth-of-type(1) section:nth-of-type(2) .column:nth-child(4) {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 5px;
}

md-card:nth-of-type(1)  section:nth-of-type(3) .column:nth-child(1) {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 5px;
}

md-card:nth-of-type(1)  section:nth-of-type(3) .column:nth-child(4) {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 5px;
}

md-card:nth-of-type(2) section:nth-of-type(1) .column:nth-child(1) {
  flex-grow: 4;
  flex-shrink: 4;
  flex-basis: 5px;
}

md-card:nth-of-type(2) section:nth-of-type(1) .column:nth-child(3) {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 5px;
}

md-card:nth-of-type(3) section:nth-of-type(1) .column:nth-child(1) {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 5px;
}

md-card:nth-of-type(3) section:nth-of-type(1) .column:nth-child(4) {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 5px;
}

md-card:nth-of-type(4) section:nth-of-type(1) .column:nth-child(1) {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 5px;
}

md-card:nth-of-type(4) section:nth-of-type(1) .column:nth-child(2) {
  flex-grow: 6;
  flex-shrink: 6;
  flex-basis: 5px;
}
