<app-header></app-header>
<div class="content" *ngIf="!loading">
  <form [formGroup]="formDatePersonale" ngSubmit="onFormSubmit()">
    <md-card *ngIf="formStatus === 0">
      <md-card-title class="form-title"><span class="full-width">Administrare (form  status: {{formStatus}})</span></md-card-title>
      <md-card-content>

        <md-form-field>
          <input mdInput formControlName="cuim" type="text" placeholder="CUIM">
        </md-form-field>

        <md-form-field>
          <input mdInput formControlName="jud_id" type="text" placeholder="Judet" [mdAutocomplete]="judAuto" (click)="formDatePersonale.get('jud_id').setValue('')">
        </md-form-field>

        <md-autocomplete #judAuto="mdAutocomplete" [displayWith]="displayFnJudet.bind(this)">
          <md-option *ngFor="let judet of filtruJudete | async" [value]="judet.id">
            {{ judet.nume }}
          </md-option>
        </md-autocomplete>

        <md-form-field>
          <input mdInput formControlName="status" type="text" placeholder="Status">
        </md-form-field>

        <md-form-field>
          <input mdInput formControlName="updated" type="text" placeholder="Updated">
        </md-form-field>
        <md-form-field>
          <input mdInput formControlName="ro" type="text" placeholder="Read Only?">
        </md-form-field>
        <button md-raised-button (click)="log()" color="primary">Log Values</button>
        <button md-raised-button (click)="test()" color="primary">Test</button>
      </md-card-content>
    </md-card>

    <md-progress-bar *ngIf="loading" mode="indeterminate"></md-progress-bar>
    <md-card>
      <md-card-title class="form-title">
        <span class="full-width">Act Identitate</span>
      </md-card-title>
      <md-card-content>
        <div class="row wrapper">
          <md-form-field class="col1_3">
            <input mdInput formControlName="cetatenie" type="text" placeholder="Cetatenie*" [mdAutocomplete]="taraAuto" (click)="formDatePersonale.get('cetatenie').setValue('')">
          </md-form-field>

          <md-form-field class="col6_3">
            <input mdInput formControlName="cnp" type="number" placeholder="CNP">
          </md-form-field>
        </div>
        <md-autocomplete #taraAuto="mdAutocomplete" [displayWith]="displayFnTara.bind(this)">
          <md-option *ngFor="let tara of filtruTari | async" [value]="tara.id">
            {{ tara.nume }}
          </md-option>
        </md-autocomplete>
        <div class="row wrapper">
          <md-form-field class="col1_3">
            <input mdInput formControlName="nume" type="text" placeholder="Nume">
          </md-form-field>
          <md-form-field class="col4_1">
            <input mdInput formControlName="initiala" type="text" placeholder="Initiala">
          </md-form-field>
          <md-form-field class="col6_3">
            <input mdInput formControlName="prenume" type="text" placeholder="Prenume">
          </md-form-field>
          <md-form-field class="col11_2">
            <input mdInput formControlName="nume_ant" type="text" placeholder="Nume Anterior">
          </md-form-field>
        </div>
        <div class="row wrapper">
          <md-form-field class="col1_3">
            <input mdInput formControlName="act_ident_tip_id" type="text" placeholder="Tip Act Identitate" [mdAutocomplete]="actIdentTip"
              (click)="formDatePersonale.get('act_ident_tip_id').setValue('')">
          </md-form-field>
          <md-form-field class="col4_1">
            <input mdInput formControlName="act_ident_serie" type="text" placeholder="Serie">
          </md-form-field>
          <md-form-field class="col6_3">
            <input mdInput formControlName="act_ident_nr" type="number" placeholder="Numar">
          </md-form-field>
          <md-form-field class="col11_2">
            <input mdInput formControlName="act_ident_exp_date" type="text" placeholder="Data Expirare">
          </md-form-field>
        </div>
        <md-autocomplete #actIdentTip="mdAutocomplete" [displayWith]="displayFnActIdentTip.bind(this)">
          <md-option *ngFor="let tip of filtruActIdentTip | async" [value]="tip.id">
            {{ tip.nume }}
          </md-option>
        </md-autocomplete>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title class="form-title">
        <span class="full-width">Facultatea Absolvita</span>
      </md-card-title>
      <md-card-content>

        <div class="row wrapper">
          <md-form-field class="col1_5">
            <input mdInput formControlName="fac_absolv" type="text" placeholder="Facultate Absolvita" [mdAutocomplete]="facAuto" (click)="formDatePersonale.get('fac_absolv').setValue('')">
          </md-form-field>

          <md-form-field class="col6_2">
            <input mdInput formControlName="fac_promotie" type="text" placeholder="Promotie">
          </md-form-field>
          <md-form-field class="col11_2">
            <input mdInput formControlName="cod_parafa" type="text" placeholder="Cod Parafa">
          </md-form-field>
        </div>

        <md-autocomplete #facAuto="mdAutocomplete" [displayWith]="displayFnFac.bind(this)">
          <md-option *ngFor="let fac of filtruFac | async" [value]="fac.id">
            {{ fac.nume }}
          </md-option>
        </md-autocomplete>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title class="form-title">
        <span class="full-width">Diploma facultate</span>
      </md-card-title>
      <md-card-content>

        <div class="row wrapper">
          <md-form-field><input mdInput formControlName="fac_doc_tip" type="text" placeholder="Tip Act Absolvire" [mdAutocomplete]="facDocTip"
              (click)="formDatePersonale.get('fac_doc_tip').setValue('')"></md-form-field>
          <md-form-field class="col4_1">
            <input mdInput formControlName="fac_dipl_serie" type="text" placeholder="Serie">
          </md-form-field>
          <md-form-field class="col6_2">
            <input mdInput formControlName="fac_dipl_nr" type="text" placeholder="Numar">
          </md-form-field>
          <md-form-field class="col9_2">
            <!-- TODO: de revazut fac_dipl_dat -->
            <input mdInput formControlName="fac_dipl_data" type="text" placeholder="Data">
          </md-form-field>
        </div>
        <md-autocomplete #facDocTip="mdAutocomplete" [displayWith]="displayFnDocFacTip.bind(this)">
          <md-option *ngFor="let tip of filtruDocFacTip | async" [value]="tip.id">
            {{ tip.nume }}
          </md-option>
        </md-autocomplete>

      </md-card-content>
    </md-card>

    <md-card>
      <md-card-title class="form-title"><span class="full-width">Data Depunerii Juramantului la Sediul CMJ</span></md-card-title>
      <md-card-content>
        <md-form-field>
          <input mdInput formControlName="data_juramant" type="text" placeholder="Data  juramant">
        </md-form-field>
      </md-card-content>
    </md-card>

    <md-card style="text-align: center;">
      <md-card-content>
        <div class="row">
          <button type="button" md-raised-button (click)="editDateMember()" color="warn" [disabled]="formDatePersonale.invalid || formDatePersonale.untouched">{{ formStatus === 2 ? 'Creeaza membru nou' : 'Modifica date membru'}}</button>
          <!-- TODO: nu merge disable / enable ....  -->
        </div>
      </md-card-content>
    </md-card>

  </form>
</div>
