section:nth-of-type(1) .column:nth-child(1) {
  flex-grow: 4;
  flex-shrink: 4;
  flex-basis: 15px;
}

section:nth-of-type(1) .column:nth-child(3) {
  flex-grow: 3;
  flex-shrink: 3;
  flex-basis: 15px;
}

section:nth-of-type(1) .column:nth-child(4) {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 15px;
}

section:nth-of-type(1) .column:nth-child(5) {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 15px;
}
