<app-header></app-header>



<div class="content">

  <md-card>
    <md-card-title>Selecție Medici</md-card-title>
    <md-card-content>
      <form [formGroup]="searchForm" (keydown.enter)="onSearch(searchForm.value.searchMem)">
        <section>
          <md-input-container class="column">
            <input mdInput formControlName="searchMem" type="text" placeholder="Caută medic" required/>
            <md-icon mdSuffix>search</md-icon>
            <md-hint align="start">Se pot folosi: Nume / Prenume / CNP / CUIM</md-hint>
          </md-input-container>
          <div class="column"></div>
        </section>
      </form>
    </md-card-content>
    <md-card-footer>
      <md-progress-bar *ngIf="loading" mode="indeterminate"></md-progress-bar>
    </md-card-footer>
  </md-card>

  <md-card *ngIf="emptySearchResult">
    <span>Nu am găsit nici un membru cu datele: <span class="date-cert">{{searchForm.value.searchMem}}</span></span>
  </md-card>

  <md-card *ngFor="let medic of membri">
    <md-card-content>
      <div class="container0">
        <span class="toLeft">{{ medic.nume }} {{ medic.prenume}} (CUIM: {{ medic.cuim}})</span>
        <span class="fill-remaining-space"></span>
        <span class="toRight">
        <button md-raised-button [mdMenuTriggerFor]="memMenu">Editare</button>
        <md-menu #memMenu="mdMenu">
          <button md-menu-item (click)="onClickMem(medic.id, 'datepersonale')">Date personale</button>
          <button md-menu-item (click)="onClickMem(medic.id, 'cpp')">Pregătire postuniv</button>
          <!-- <button md-menu-item (click)="onClickMem(medic.id, 'titluri-profesionale')">Titluri profesionale</button> -->
          <button md-menu-item (click)="onClickMem(medic.id, 'contact')">Date Contact</button>
        </md-menu>

        <button md-raised-button (click)="onClickMem(medic.id, 'certificate')">Certificate</button>
        <button md-raised-button (click)="onClickMem(medic.id, 'avizari')">Avizari</button>
    </span>
      </div>
    </md-card-content>
  </md-card>

  <md-card style="text-align: center;">
    <button md-raised-button (click)="onNewMember()" color="primary">Adaugă un nou membru</button>
  </md-card>

</div>
