:host {
  width: 100%;
  height: 100vh;
}

.content {
  margin: 10px 10% 1px  10%;
}
.mat-list-item {
  border-bottom: 1px solid black;
}

.mat-card {
  margin-bottom: 0.2em;
}

.dash-header {
  height: 100px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}
.container0 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  }

.toLeft {
  order: 1;
}

.fill-remaining-space {
  order: 2;
  flex: 1 1 auto;
}

.toRight {
  order: 2;
}
