/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  background: url("https://rm.cmr.ro/img/hexellence.png") repeat;
}

html,
body,
.viewport {
  width: 100%;
  height: 100%;
  margin: 0;
}

header,
footer,
nav,
article,
aside {
  border: 1px solid black;
  padding: 0.25em;
  margin: 0.25em;
  border-radius: 0.25em;
}

.app-content {
  padding: 20px;
}

.cdk-overlay-pane {
  width: auto !important;
}

.content {
  margin: 10px 10% 1px 10%;
}

.mat-list-item {
  border-bottom: 1px solid black;
}

.mat-card {
  margin-bottom: 0.2em;
}

.icon-align {
  vertical-align: middle;
}

.form-title {
  width: 100%;
  border-bottom: 0.1em solid #000;
}

.form-item-title {
  font-size: 1em !important;
  cursor: pointer;
  margin-bottom: 0px !important;
}

.form-item-content {
  margin-top: 10px !important;
}

.dash-header {
  height: 100px;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 1em;
}


// grid pt formulare

.col1_2 {
  width: 100%;
  grid-column: col-start / span 2;
}

.col1_3 {
  width: 100%;
  grid-column: col-start / span 3;
}

.col1_5 {
  width: 100%;
  grid-column: col-start / span 5;
}

.col1_12 {
  width: 100%;
  grid-column: col-start / span 12;
}

.col2_1 {
  width: 100%;
  grid-column: col-start 2 / span 1;
}

.col2_2 {
  width: 100%;
  grid-column: col-start 2 / span 2;
}

.col2_4 {
  width: 100%;
  grid-column: col-start 2 / span 4;
}

.col2_5 {
  width: 100%;
  grid-column: col-start 2 / span 5;
}

.col3_1 {
  width: 100%;
  grid-column: col-start 3 / span 1;
}

.col3_2 {
  width: 100%;
  grid-column: col-start 3 / span 2;
}

.col3_3 {
  width: 100%;
  grid-column: col-start 3 / span 3;
}

.col3_5 {
  width: 100%;
  grid-column: col-start 3 / span 5;
}

.col4_1 {
  width: 100%;
  grid-column: col-start 4 / span 1;
}

.col4_2 {
  width: 100%;
  grid-column: col-start 4 / span 2;
}

.col4_3 {
  width: 100%;
  grid-column: col-start 4 / span 3;
}
.col4_6 {
  width: 100%;
  grid-column: col-start 4 / span 6;
}

.col5_1 {
  width: 100%;
  grid-column: col-start 5 / span 1;
}

.col5_2 {
  width: 100%;
  grid-column: col-start 5 / span 2;
}
.col5_3 {
  width: 100%;
  grid-column: col-start 5 / span 3;
}

.col6_1 {
  width: 100%;
  grid-column: col-start 6 / span 1;
}

.col6_2 {
  width: 100%;
  grid-column: col-start 6 / span 2;
}

.col6_3 {
  width: 100%;
  grid-column: col-start 6 / span 3;
}

.col6_4 {
  width: 100%;
  grid-column: col-start 6 / span 4;
}

.col7_1 {
  width: 100%;
  grid-column: col-start 7 / span 1;
}

.col7_2 {
  width: 100%;
  grid-column: col-start 7 / span 2;
}

.col7_3 {
  width: 100%;
  grid-column: col-start 7 / span 3;
}

.col7_6 {
  width: 100%;
  grid-column: col-start 7 / span 6;
}

.col8_1 {
  width: 100%;
  grid-column: col-start 8 / span 1;
}

.col8_2 {
  width: 100%;
  grid-column: col-start 8 / span 2;
}

.col8_5 {
  width: 100%;
  grid-column: col-start 8 / span 5;
}

.col9_1 {
  width: 100%;
  grid-column: col-start 9 / span 1;
}

.col9_2 {
  width: 100%;
  grid-column: col-start 9 / span 2;
}
.col10_2 {
  width: 100%;
  grid-column: col-start 10 / span 2;
}

.col10_3 {
  width: 100%;
  grid-column: col-start 10 / span 3;
}

.col11_2 {
  width: 100%;
  grid-column: col-start 11 / span 2;
}

.col12_1 {
  width: 100%;
  grid-column: col-start 12 / span 1;
}

.inactive {
  color: gray;
  text-decoration: line-through;
}

.active {
  color: green;
  /* text-decoration: underline; */
}
