<div class="row">
  <div [formGroup]="avizareForm">
    <div formArrayName="asigurare">
      <div *ngFor="let formAvizareData of avizareForm.get('asigurare').value; let i = index">
        <app-asigurare [arrayIndex]="i" [avizareForm]="avizareForm" [registruAsiguratori]="registruAsiguratori"></app-asigurare>
        <!-- <app-avizare [arrayIndex]="i" [asigurareForm]="asigurareForm"></app-avizare> -->
      </div>
    </div>
  </div>
</div>
<br>
<div *ngIf="addActive"  class="row">
  <div style="text-align: center;" *ngIf="formStatus === 1 || formStatus === 2">
    <button type="button" *ngIf="!loading" md-raised-button (click)="addAsigurare()" color="primary">
      Adauga Asigurare
    </button>
  </div>
</div>
