<md-card>
  <md-card-title class="form-item-title" (click)="isHidden = !isHidden">
    <span [ngClass]="formTitleStyle">{{ itemName }}</span>
    <span><md-icon class="icon-align">{{ isHidden ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</md-icon></span>
  </md-card-title>
  <md-card-content [formGroup]="avizareForm">
    <div [hidden]="isHidden">
      <div class="row wrapper">
        <md-form-field class="col1_3"><input required type="text" placeholder="Data start" mdInput formControlName="dlp_data_start" (blur)="addDlpDateEnd()"></md-form-field>
        <md-form-field class="col5_3"><input type="text" placeholder="Data end" mdInput formControlName="dlp_data_end"></md-form-field>
        <div class="col10_3">
          <button type="submit" md-raised-button (click)="onClickAvizare()" color="primary" [disabled]="avizareForm.invalid || avizareForm.untouched">
            {{ formStatus === 0 ? 'Adauga' : 'Modifica' }} avizare
        </button>
        </div>
      </div>

      <div class="row" style="text-align: center;" *ngIf="formStatus === 0 || formStatus === 1">
        <button type="submit" md-raised-button (click)="onClickAsigurare()" color="primary" [disabled]="avizareForm.invalid">
          Adauga asigurare
        </button>
      </div>

      <div class="row" style="text-align: center;" *ngIf="formStatus === 2 || formStatus === 3">
        <button type="submit" md-raised-button (click)="onClickAsigurare()" color="primary">
          Afiseaza detalii avizare
        </button>
      </div>
      <div class="row">
        <app-asigurari-list></app-asigurari-list>
      </div>
    </div>
  </md-card-content>
</md-card>
