<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<form [formGroup]="avizareForm">
  <mat-expansion-panel [expanded]="!isHidden">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{itemName}}
      </mat-panel-title>
      <mat-panel-description>
        {{itemStatus}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <section>
      <mat-form-field class="column">
        <input required type="text" placeholder="Data start" matInput formControlName="dlp_data_start" (blur)="addDateEnd()">
      </mat-form-field>
      <mat-form-field class="column">
        <input type="text" placeholder="Data Stop" matInput formControlName="dlp_data_end">
      </mat-form-field>
      <div class="column"></div>
      <div class="column" *ngIf="avizareFormData.status === null">
        <button type="submit" mat-raised-button (click)="onClickAvizare('adauga')" color="primary" [disabled]="!avizareForm.dirty || !avizareForm.valid">
          Adaugă avizare</button>
      </div>
      <div class="column" *ngIf="avizareFormData.status === 0">
        <button type="submit" mat-raised-button (click)="onClickAvizare('modifica')" color="primary" [disabled]="!avizareForm.dirty || !avizareForm.valid">
          Modifică avizare</button>
      </div>
      <div class="column" *ngIf="avizareFormData.status === 0">
        <button type="submit" mat-raised-button (click)="onClickAvizare('finalizeaza')" color="warn" [disabled]="asigurariIncomplete">
          Finalizează avizare</button>
      </div>
      <div class="column" *ngIf="avizareFormData.tip !== 11 && (avizareFormData.status === 1 || avizareFormData.status === 2) ">
        <button type="submit" mat-raised-button (click)="onClickAvizare('printeaza')" color="primary">Printează</button>
      </div>
      <div class="column" *ngIf="avizareFormData.status === null">
        <button type="submit" mat-raised-button (click)="delAvizare()" color="primary">Sterge avizare</button>
      </div>

    </section>
    <div *ngIf="avizareFormData.status !== null">
      <app-asigurari-list [avizareForm]="avizareForm" [avizareOld]="avizareOld"></app-asigurari-list>
    </div>
  </mat-expansion-panel>
</form>
