<div class="row">
  <md-card>
    <md-card-title class="form-title"><span>Lista Avizari</span></md-card-title>
  </md-card>
</div>

<md-card *ngIf="addActive">
    <md-card-content style="text-align: center;">
              <button type="button" *ngIf="!loading" md-raised-button (click)="addAvizare()" color="primary">
              Adauga Avizare
              </button>
      </md-card-content>
</md-card>

<div [formGroup]="formAvizari">
  <div formArrayName="avizari">
    <div *ngFor="let formAvizareData of formAvizari.get('avizari').value; let i = index">
      <app-avizare [arrayIndex]="i" [formAvizari]="formAvizari"></app-avizare>
    </div>
  </div>
</div>

